<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />

  <title>Remote | PiRemote</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="css/style.css" />
</head>

<body>

  <main class="container">
    <div class="row">
      <div class="col-3">&nbsp;</div>
      <div class="col-6">
        <table class="remote-interface">
          <% let i = 1; %>
          <% for(var command in commands) { %>
            <% if((i - 1) % 4 === 0) { %>
              <tr>
            <% } %>
              <td>
                <a class="remote-button" href="#" data-href="/api/remote/command" data-command="<%= command %>"><%= helpers.humanize(command) %></a>
              </td>
            <% if(i % 4 === 0) { %>
              </tr>
            <% } %>
            <% i += 1; %>
          <% } %>
        </table>
      </div>
      <div class="col-3">&nbsp;</div>
    </div>
  </main>

  <script>
    var apiKey = '<%= api_key.key %>';
  </script>
  <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
  <script src="js/scripts.js"></script>

</body>
</html>
