<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />

  <title>Remote | PiRemote</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="css/style.css" />
</head>

<body>

  <main class="container">
    <div class="row">
      <div class="col-12">
        <ul>
          <% for(var key in commands) { %>
            <li>
              <%= key %>
            </li>
          <% } %>
        </ul>
      </div>
    </div>
  </main>

  <script src="js/scripts.js"></script>

</body>
</html>
